[run]
include =
    schedule/*
    leito_hospitalar/*
    tests/*

omit =
    /
    schedule/templatetags/scheduletags.py
    schedule/views.py
    schedule/widgets.py
    schedule/utils.py
    schedule/forms.py
    schedule/settings.py
    schedule/periods.py
