django==2.2.13
gunicorn==19.7.1
whitenoise==3.3.1
coverage==4.4.1
flake8==3.4.1
django-webpack-loader
pytest
djangorestframework
markdown
django-filter
django-scheduler
django-cors-headers
python-dateutil
django-filter
psycopg2
psycopg2-binary
chatterbot
#codeclimate
#randon
#duplication
coveralls
requests
