

h1 {
	font-weight: 700;
	font-size: 5em;
  color: white;
}


.content{
	padding-top: 15%;
	text-align: center;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}
body {
    background: url(http://i.huffpost.com/gen/1930997/images/o-HOSPITAL-facebook.jpg);
    background-size: cover;
    background-position: center;
		background-repeat: no-repeat;
}

.whitewash{
  color:white;
}

.espaco{
  padding-bottom: 300px;
}
