@import url('https://fonts.googleapis.com/css?family=Coustard|Encode+Sans');

* {
  box-sizing: border-box;
}

.background{
  background: url('../images/home-medicos.png');
}

.column {
  float: left;
  width: 50%;
}

.row{
  border:1px solid #40AED2;
  border-radius: 8px;
  background-color: white;
  padding: 15px;
}
.row{
  margin-top: 40px;
    background: linear-gradient(#007095,#20C3D3);
}
.row::after{
  display: table;
  clear: both;
}

.content h3{
  font-size: 40px;
  font-family:'Coustard', sans-serif;
}
.content p{
  font-size: 24px;
  font-family:'Coustard', sans-serif;
}
