
@import url('https://fonts.googleapis.com/css?family=Coustard|Encode+Sans');

/*body {
    background: url('../images/black_wallpaper.jpg');
    background-size: auto;
    background-position: center;
		background-repeat: no-repeat;
    background-color: #002e4D;
}*/

.fundo{
  background: linear-gradient(#40AED2,#20C3D3);
  background-repeat: no-repeat;
}

h1 {
	font-weight: 700;
	font-size: 1000px;
  color: white;
}
.content{
  padding-top: 6%;
	text-align: center;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.1),
               0px 18px 23px rgba(0,0,0,0.1);
}

.image {

  height: 120px;
  width: 120px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 50%;
}

.whitewash{
  color:white;
}

.espaco{
  padding-bottom: 550px;
}

.top-space {
  margin-top: 62px;
}

.title-space{
  margin-top: 62px;
}

.aumenta {
	font-size: 10em;
  font-family: 'Coustard',sans-serif;
}

.aumentamenos{
  font-size: 5em;
  font-family: 'Coustard',sans-serif;
}

.aumentabemmenos {
  font-size: 3em;
  font-family: 'Coustard',sans-serif;
}

.aumentamenosainda {
  word-wrap: break-word;
   text-align: center;

  font-size: 2em;
  font-family: 'Coustard',sans-serif;
}
