@import url('https://fonts.googleapis.com/css?family=Coustard|Encode+Sans');

.height-modal{
  padding-top: 200px;

}
/* .modal-header-align{
  margin-right: auto;
} */
.modal-header{
  background  : linear-gradient(#007095,#20C3D3);

}

.modal{
  overflow: scroll;
  position: fixed;
}
.modal-header-title {
  color:white;
}

.beautiful_text{
  color:black;
  font-family:'Coustard', sans-serif;
  font-size: 16px;
}

.margin-top-30{
  margin-top: 30px;
}

.beautiful_text_white{
  color:white;
  font-family:'Coustard', sans-serif;
  font-size: 16px;
}

.background-white{
  background-color: #fff;
  padding: 0px 0px 0px 0px;
}

.modal-backdrop{
  background-color: #000;
  opacity: 0.6 !important;
}

.modal-body{
  margin-right: 0px;
}

.zero-padding{
  padding: 0px;
}

.modal-header{
  background  : linear-gradient(#007095,#20C3D3);

}

.newcolo{
  background  : linear-gradient(#007095,#20C3D3);
}
.modal{
  margin-top: 10px;
}
