@import url('https://fonts.googleapis.com/css?family=Coustard|Encode+Sans');

.navbar-brand{
  color: white;
}

.navbar{
  width: 100%;
  font-size: 10px;
  list-style-type: none;
  border: none;
}

.navbar:hover{
  background-color: #007095;
}
.container-fluid > .navbar-header{
  margin-left: -50%;
  margin-right: -40%;
}
.navbar-header{
  margin-left: -40%;
}

.navbar-header a{
  font-size: 30px;
  color: white;
  margin-left: -20%;
  margin-right: -140px;
  font-family: 'Coustard', sans-serif;
}
.navbar-header a:hover{
  color: white;
  /* font-size: 30px; */
  text-decoration: none;
}

.size_lg{
  width: 520%;
}

.new-nav-font{
  font-family: 'Coustard', sans-serif;
}

.change-exit {
  margin-right: -20%;
  margin-left:  311.6%;
}
