@import url('https://fonts.googleapis.com/css?family=Coustard|Encode+Sans');

.navbar-brand{
  color: white;
}
.navbar{
  font-size: 15px;
  list-style-type: none;
  border: none;
}

.navbar:hover{
  background-color: #007095;
}
.container-fluid > .navbar-header{
  margin-left: -20%;
  margin-right: -20%;
}
.navbar-header{
  margin-left: -40%;
}

.navbar-header a{
  font-size: 20px;
  color: white;
  margin-left: -10%;
}
.navbar-header a:hover{
  color: white;
  /* font-size: 30px; */
  text-decoration: none;
}

.size_lg{
  width: 550%;
}

/* .navbar li a:hover {
color: #fff;
background: #007095;
border-radius: 10px;
text-decoration: none;
} */
