@import url('https://fonts.googleapis.com/css?family=Coustard|Encode+Sans');

.navbar-brand{
  color: white;
}

.navbar{
  width: 100%;
  font-size: 10px;
  list-style-type: none;
  border: none;
  position: fixed;
}

.container-fluid > .navbar-header{
  margin-left: -63%;
  margin-right: -35%;
}
.navbar-header{
  margin-left: -40%;
}
/*
.newcolor{
  background: transparent;
  border: 1px solid #606060;
}

.newborder{
    border: 1px solid #606060;
} */

.navbar-header a{
  font-size: 30px;
  color: white;
  margin-left: -20%;
  margin-right: -140px;
  font-family: 'Coustard', sans-serif;
}
.navbar-header a:hover{
  color: white;
  /* font-size: 30px; */
  text-decoration: none;
}

.background-button{
  background-color: transparent;
}

.color-text{
  color: #20C3D3;
}

.btn-group .btn + .btn, .btn-group .btn + .btn-group, .btn-group .btn-group + .btn, .btn-group .btn-group + .btn-group, .btn-group-vertical .btn + .btn, .btn-group-vertical .btn + .btn-group, .btn-group-vertical .btn-group + .btn, .btn-group-vertical .btn-group + .btn-group{
  /* background: transparent; */
  font-family: 'Coustard', sans-serif;
  font-size: 12px;
}
.btn-group > .btn:first-child{
  font-family: 'Coustard', sans-serif;
  /* background: transparent; */
  font-size: 12px;
}

.size_lg{
  width: 520%;
}

.new-nav-font{
  font-family: 'Coustard', sans-serif;
}

.change-exit {
  margin-right: -20%;
  margin-left:  311.6%;
}
.nav-link{
  margin-left: -10%;
}
