.popupShape {
  font-size: 24px;
  text-align: left;

}

.size {
  width: 35%;
}

.modal-header {
    padding: 2px 16px;
    background-color: #31a085;
    color: white;
    font-size: 50px;
}

.white {
;
}
