.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 15px;
  top: 75px;
  color: #fff !important;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #fff;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #fff;
}

/* General sidebar styles */
.bm-menu {
  background: #40AED2;
  padding: 2.5em 1.5em 0;
  font-size: 2em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #40AED2;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

li {
  line-height: 70px;
  text-indent: 3px;
}

 li a {
    color: #ffffff;
  display: block;
  text-decoration: none;
}

  li a:hover {
  color: #fff;
  background: #29846e;
  text-decoration: none;
}

li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

img {
  height: 120px;
  width: 120px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
/* .sub_icon
{
    float:left;
} */
