.bm-burger-button{
  margin-top: -10px;
  width: 60px;
  height: 60px;
}

.bm-menu-wrap{
  background: #007095;
  margin-top: -6%;
  margin-bottom: 10%;
}

svg{
    background: linear-gradient(#007095,#20C3D3);
}

.bm-burger-bars {
  background: #fff;
}

.bm-menu {
  background: #00000;
  padding: 2.5em 1.5em 0;
  font-size: 2em;
}

.bm-morph-shape {
  fill: #007095;
}

.bm-item-list li a{
  color: white;
}
