{% extends "base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Available Calendars" %}{% endblock %}
{% block body %}
<h2>{% trans "Available Calendars" %}</h2>
<ul>
{% for cal in object_list %}
<li><b>{{ cal }}</b> :
  <a href="{% url "compact_calendar" cal.slug %}">{% trans "Pequeno mês" %}</a> --
  <a href="{% url "month_calendar" cal.slug %}">{% trans "1 Mês" %}</a> --
  <a href="{% url "tri_month_calendar" cal.slug %}">{% trans "3 Meses" %}</a> --
  <a href="{% url "year_calendar" cal.slug %}">{% trans "Esse ano" %}</a> --
  <a href="{% url "week_calendar" cal.slug %}">{% trans "Semanalmente" %}</a> --
  <a href="{% url "day_calendar" cal.slug %}">{% trans "Diário" %}</a>
{% endfor %}
</ul>
{% endblock %}
