{% extends "base.html" %}
{% load i18n %}

{% block body %}
<h1>{% trans "Deletar" %}</h1>
{% trans "Você tem certeza que deseja cancelar a ocorrência ?" %}

<form action="" method="post">{% csrf_token %}
  <h2>{{ occurrence.title }}</h2>
  {% blocktrans with start_date=occurrence.start|date:_("DATETIME_FORMAT") end_date=occurrence.end|date:_("DATETIME_FORMAT") %}
  <strong>From</strong> {{ start_date }}
  <strong>to</strong> {{ end_date }}<br>
  {% endblocktrans %}
  <input type="submit" value="Confirmar">
  <input type="submit" name="cancel" value="Cancelar">
</form>
{% endblock %}
