{% extends "base.html" %}
{% load i18n scheduletags %}

{% block body %}
<div class="navigation">
  <a class="btn btn-primary gradient" href="{% url "day_calendar" occurrence.event.calendar.slug %}{% querystring_for_date occurrence.start 3 %}">
    {% trans "Dia" %}
  </a>
  <a class="btn btn-primary gradient" href="{% url "month_calendar" occurrence.event.calendar.slug %}{% querystring_for_date occurrence.start 2 %}">
    {% trans "Mês" %}
  </a>
  <a class="btn btn-primary gradient" href="{% url "year_calendar" occurrence.event.calendar.slug %}{% querystring_for_date occurrence.start 1 %}">
    {% trans "Ano" %}
  </a>
</div>

<div class="event_actions" align="center">
  {% if back_url %}
  <a href="{{ back_url }}">
    <span class="glyphicon glyphicon-circle-arrow-left"></span>
  </a>
  &nbsp;
  {% endif %}
  <a href="{{occurrence.get_edit_url}}">
   {% trans "Editar" %} <span class="glyphicon glyphicon-pencil"></span>
  </a>
  &nbsp;
  <a href="{{occurrence.get_cancel_url}}">
   {% trans "Deletar" %} <span class="glyphicon glyphicon-remove"></span>
  </a>
</div>
<h2 align="center">{{occurrence.title}}</h2>
<table align="center" class="table table-hover">
<tr>
<td>{% trans "Inicios" %}</td>
<td>{% blocktrans with occurrence.start|date:_("DATETIME_FORMAT") as start_date %}{{ start_date }}{% endblocktrans %}</td>
</tr>
<tr>
<td>{% trans "Fins" %}</td>
<td>{% blocktrans with occurrence.end|date:_("DATETIME_FORMAT") as end_date %}{{ end_date }}{% endblocktrans %}</td>
</tr>
<tr>
<td>{% trans "Recorrência" %}</td>
{% if occurrence.event.rule %}
<td>{{ occurrence.event.rule.name }} {% trans "until" %} {% blocktrans with occurrence.event.end_recurring_period|date:_("DATETIME_FORMAT") as end_recurring_date %}{{ end_recurring_date }}{% endblocktrans %}</td>
{% else %}
<td>{% trans "Nunca, esse é um evento único" %}</td>
{% endif %}
</tr></table>
{% if occurrence.description %}
<h3>{% trans "Descrição" %}</h3>
<p>{{occurrence.description}}</p>
{% endif %}

{% endblock %}
